
@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/mainLinks';
@import './components/sideNav';
@import './components/startBox';
@import './components/startPage';
@import './components/stagePage';
@import './components/modal';

/* neucha-regular - latin */
@font-face {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/neucha-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Neucha'),
         url('../fonts/neucha-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/neucha-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/neucha-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/neucha-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/neucha-v11-latin-regular.svg#Neucha') format('svg'); /* Legacy iOS */
  }


.win-view{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:#55fadd;
    height: 100%;

    div {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-size: $l-size;
    }
    
    
}

h4{
    padding: 0;
}

.oliver {
    color: white;
}

.header__edit {
    display: flex;
    justify-content: space-between;
    background: lighten($light-blue, 5%);
    color: white;
    padding: 5px;
    font-size: $l-size;
}
.container__edit {
    height: 100vh;
    background:whitesmoke;
    text-align: center;
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    
}

.form__edit {
    display: flex;
    justify-content: space-between;
    background: $light-blue;
    padding: 10px;
    align-items: center;

    input {
        height: 100%;
        width: 70vw;
        padding: 0;
    }
    button {
        margin-left: 10px;
        height: 100%;
        width: 25vw;
        background: $light-green;
        border: none;
    
        font-size: $l-size;
    }
    
}