/*colours*/
$light-blue: #739ee2;
$light-green: #86e8aa;
$light-purple: #bc7dd1;
$light-yellow: #d1ce21;
$dark-grey: #333;

/*spacing*/
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;

$desktop-breakpoint: 45rem;